<h1>User Information</h1>

<div class="smallBox">
    <p>
        <span style="font-weight: bold;">
            Name:
        </span>
            <%= @user.name %>
    </p>

    <p>
        <span style="font-weight: bold;">
            Alias:
        </span>
            <%= @user.alias %>
    </p>

    <p>
        <span style="font-weight: bold;">
            Email:
        </span>
            <%= @user.email %>
    </p>

    <hr>

    <p>
        <span style="font-weight: bold;"> Total Number of Ideas:
        </span>
        <%= @ideas %>
    </p>

    <p>
        <span style="font-weight: bold;"> Total Number of Likes:
        </span>
        <%= @likes %>
    </p>

</div>
